:root {
  --bg-color: #3a4750;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.image_slider {
  border: 3px solid rgba(255, 255, 255, 0.904);
  width: 640px;
  display: flex;
  overflow: hidden;
  margin-top:10px;
}



.thumb{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    overflow: hidden;
    flex-wrap: wrap;
}


.thumb > a {
  margin:10px;
}

.thumb > a{
    border: 2px solid white;
}

.thumb > a:hover {
  outline: 3px solid white;
}

.thumb > a:hover > img {
  transform: scale(1.05);
}

